.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: .5%;
}

.products{
  width: 7rem;
  height: 8.5rem;
  border: 1px solid #01B5CE;
  overflow-y: scroll;
}